language: php

branches:
  except:
    - 1.3

php:
  - 5.3
  - 5.4
  - 5.5

env:
  - CAKE_VERSION=2.2.9
  - CAKE_VERSION=2.3.10
  - CAKE_VERSION=master

before_script:
  - composer install
  - sh -c "mysql -e 'CREATE DATABASE cakephp_test;'"
  - git clone git://github.com/cakephp/cakephp ../cakephp && cd ../cakephp && git checkout $CAKE_VERSION
  - mv ../CakePHP-Twim plugins/Twim
  - git clone https://github.com/nojimage/CakePHP-ReST-DataSource-Plugin.git plugins/Rest
  - mkdir -m 0777 ../cakephp/app/tmp/cache/twitter
  - chmod -R 777 ../cakephp/app/tmp
  - echo "
    Configure::write('Security.salt', 'travistestcakephp');
    Configure::write('Security.cipherSeed', '176859309657453542496749683645');
    CakePlugin::loadAll(array('Twim' => array('bootstrap' => true)));
    " >> ../cakephp/app/Config/bootstrap.php
  - echo "<?php
    class DATABASE_CONFIG {
    public \$test = array(
      'datasource' => 'Database/Mysql',
      'database' => 'cakephp_test',
      'host' => '0.0.0.0',
      'login' => 'travis',
      'persistent' => false,
    );
    public \$twitter = array(
        'datasource' => 'Twim.TwimSource',
        'oauth_consumer_key' => 'ePqJkNG4cSyNePJnOjAQw',
        'oauth_consumer_secret' => 'dfezTpMTxbhE3UBBKmtQNwR0EvVceqKHBOCKmcLQ',
        'oauth_callback' => '/twim/oauth/callback',
        'cache' => true,
    );
    }" > ../cakephp/app/Config/database.php

script:
  - ./lib/Cake/Console/cake test Twim AllTwimTests --stderr
